<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zaev.ZaeV_trip">

    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.zaev.ZaeV_trip.util.GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZaeV_trip"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        android:screenOrientation="portrait">
        <service
            android:name="com.zaev.ZaeV_trip.util.MyService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name="com.zaev.ZaeV_trip.Error.ErrorActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.Intro.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zaev.ZaeV_trip.Bookmark.BookmarkActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.Schedule.TravelActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.Search.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.Main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="384534ab54f6c87dab118c43e14471d6" />

        <activity
            android:name="com.zaev.ZaeV_trip.Intro.IntroActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.Sign.SignActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.Profile.ProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.Profile.ModifyActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.Profile.WithdrawalActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.Cafe.CafeActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.TouristSpot.TouristSpotActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.Plogging.PloggingActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.Festival.FestivalActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.Lodging.LodgingActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.Restaurant.RestaurantActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.Reusable.ReusableActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zaev.ZaeV_trip.ZeroWaste.ZeroWasteActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>